{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="card blur shadow-blur mt-7">
        <div class="card-header text-center pb-0">
          <h3 class="font-weight-bolder text-info text-gradient">Login</h3>
          {% if next %}
            <p class="mb-0 text-sm">Please login to see this page</p>
          {% endif %}
        </div>

        <div class="card-body">

          {% if form.errors %}
            <div class="alert alert-danger text-white" role="alert">
              Your username and password didn’t match. Try again.
            </div>
          {% endif %}

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {{ form|crispy }}

            <div class="text-center">
              <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">
                Login
              </button>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
