<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  {% block title %}<title>Kitchen Service</title>{% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <link href="{{ ASSETS_ROOT }}/css/nucleo-icons.css" rel="stylesheet" />
  <link href="{{ ASSETS_ROOT }}/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <link id="pagestyle" href="{{ ASSETS_ROOT }}/css/material-kit.css?v=3.0.0" rel="stylesheet" />

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="bg-gray-200">

  {% include "includes/navigation.html" %}
  <br>

  <main class="main-content mt-6 mb-4">
    <div class="container">

      {% block content %}{% endblock %}

      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

    </div>
  </main>

  <footer class="footer py-4">
    <div class="container text-center">
      <p class="text-dark my-2 text-sm font-weight-normal">
        © Kitchen Service — Anastasiia Pohonets
      </p>
    </div>
  </footer>

  <script src="{{ ASSETS_ROOT }}/js/core/popper.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/material-kit.min.js?v=3.0.0"></script>

</body>
</html>
